<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if !IE]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<!--<![endif]-->
<head>
	<title>Terms and Conditions of Service for users of MyArtBrief - MyArtBrief</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="MyArtBrief allows you to find and commission an artist to create art for you with a click of a button" />
    <meta name="author" content="" />
    <meta property="og:site_name" content="MyArtBrief" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_GB" />
	<meta property="og:description" content="MyArtBrief allows you to find and commission an artist to create art for you with a click of a button" />
	
    <link rel="shortcut icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/css/opensans.css" />
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/headers/header-default.css" />
    <link rel="stylesheet" href="/css/footers/footer-default.css" />
    <link rel="stylesheet" href="/plugins/animate.css" />
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/font-awesome-animation.min.css" />
    <link rel="stylesheet" href="/css/theme-colors/brown.css" />
    <link rel="stylesheet" href="/plugins/fancybox/source/jquery.fancybox.css" />
    <link rel="stylesheet" href="/plugins/owl-carousel2/assets/owl.carousel.css" />
    <link rel="stylesheet" href="/plugins/owl-carousel2/assets/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" />
    <link rel="stylesheet" href="/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    <link rel="stylesheet" href="/plugins/sky-forms-pro/skyforms/css/sky-forms.css" />
    <link rel="stylesheet" href="/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css" />
    <!--[if lt IE 9]><link rel="stylesheet" th:href="@{/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css}" href="../../static/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
    <link rel="stylesheet" href="/css/pages/profile.css" />
    <link rel="stylesheet" href="/css/pages/shortcode_timeline2.css" />
    <link rel="stylesheet" href="/css/custom.css?version=live-15" />

    <noscript>
        <!--suppress CssUnusedSymbol-->
        <style type="text/css" xml:space="preserve">
            #page-container {display:none;}
        </style>
    </noscript>

    <script xml:space="preserve">
        window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"http://www.myartbrief.com/privacy","theme":"light-floating"};

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-69309506-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js" xml:space="preserve"></script>
    <script type="text/javascript" src="//www.google.com/recaptcha/api.js" xml:space="preserve"></script>
	

</head>

<body>

<noscript>
    <div class="row">
        <div class="text-center">
            <h1>You need to enable javascript to use the MyArtBrief website.</h1>
        </div>
    </div>
</noscript>

<div id="page-container">
    <div id="header" class="navbar-fixed-top">
    <div class="header">
        <div class="container">
            <div id="header-logo">
                <a href="/" title="Home" shape="rect"><h1>MyArtBrief Home</h1></a>
            </div>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container" style="padding-right: 0;">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/createBrief" shape="rect">
                            Create Brief
                        </a>
                    </li>
                    <!--
                    <li th:class="${menu == 'artists'} ? active : null">
                        <a th:href="@{/artists}" href="ourArtists.html">
                            Artists
                        </a>
                    </li>
                    -->
                     
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" shape="rect">
                            Artists
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/artists" shape="rect">
		                            By Location
		                        </a>
                            </li>                         
                            <li>
                                <a href="/artists/commissions" shape="rect">
		                            Customer Reviews
		                        </a>
                            </li>
                        </ul>
                    </li>
                     
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" shape="rect">
                            Inspiration
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/gallery/drawing/all" shape="rect">Picture/Painting</a>
                            </li>
                            <li>
                                <a href="/gallery/illustration/all" shape="rect">Illustration</a>
                            </li>
                            <li>
                                <a href="/gallery/sculpture/all" shape="rect">Sculpture</a>
                            </li>
                            <li>
                                <a href="/gallery/conceptual/all" shape="rect">Conceptual Art</a>
                            </li> 
                            <li>
                                <a href="/gallery/glass/all" shape="rect">Glass</a>
                            </li> 
                            
                            <li>
                                <a href="/gallery/digital/all" shape="rect">Digital Artwork</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" shape="rect">
                            Shop
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/gallery/drawing/forSale" shape="rect">Picture/Painting</a>
                            </li>
                            <li>
                                <a href="/gallery/illustration/forSale" shape="rect">Illustration</a>
                            </li>
                            <li>
                                <a href="/gallery/sculpture/forSale" shape="rect">Sculpture</a>
                            </li>
                            <li>
                                <a href="/gallery/conceptual/forSale" shape="rect">Conceptual Art</a>
                            </li>
                            <li>
                                <a href="/gallery/glass/forSale" shape="rect">Glass</a>
                            </li>
                            <li>
                                <a href="/gallery/digital/forSale" shape="rect">Digital Artwork</a>
                            </li>
                            <li>
                                <a href="/secure/voucher/buy" shape="rect">
                                    Gift Vouchers
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" shape="rect">
                            Info
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/faq" shape="rect">
                                    FAQ
                                </a>
                            </li>                         
                            <li>
                                <a href="http://blog.myartbrief.com" target="_blank" shape="rect">Blog</a>
                                <!-- <a th:href="@{/blog}" href="../../blog.html">
                                    Blog
                                </a> -->
                            </li>
                            <li>
                                <a href="/artistInformation" shape="rect">
                                    Information for Artists
                                </a>
                            </li>
                            <!--  <li>
                                <a th:href="@{/kickstarterartists}" href="../../kickStarterArtists.html">
                                    Kickstarter Campaign
                                </a>
                            </li>  -->
                        </ul>
                    </li>
                    
                    
                    
                    
                    <li>
                        <a href="/signin" shape="rect">
                            <i class="fa fa-sign-in"></i>
                            Sign In
                        </a>
                    </li>

                    
                </ul>
            </div>
        </div>
    </div>
</div>

    <div id="content" class="container wrapper no-padding">
        <div class="container no-padding">
            <div class="page-heading">
                <div class="container">
                    <h1>Terms and Conditions of Service</h1>
                </div>
            </div>
            <div class="wrapper padding-15">
                <div>
    <p>These Terms and Conditions, together with any and all other documents referred to herein, set out the terms of use under which you may use this website, myartbrief.com ("Our Site").  Please read these Terms and Conditions carefully and ensure that you understand them.  Your agreement to comply with and be bound by these Terms and Conditions is deemed to occur upon your first use of Our Site.  If you do not agree to comply with and be bound by these Terms and Conditions, you must stop using Our Site immediately.</p>

    <h4>1.  Definitions and Interpretation</h4>
    In these Terms and Conditions, unless the context otherwise requires, the following expressions have the following meanings:
    <ul>
        <li><strong>"Content"</strong> means any and all text, images, audio, video, scripts, code, software, databases and any other form of information capable of being stored on a computer that appears on, or forms part of, Our Site; and</li>
        <li><strong>"We/Us/Our"</strong> means MyArtBrief Ltd a company registered in England and Wales under company number 09677060, whose registered address is Oakmere, Belmont Business Park, DH1 1TW.</li>
    </ul>

    <h4>2.  Information About Us</h4>
    
    <p>2.1	Our Site, myartbrief.com, is owned and operated by MyArtBrief Ltd , a limited company registered in England under company number 09677060, whose registered address and trading address is Oakmere, Belmont Business Park, DH1 1TW.</p>
    <p>2.2	We are bound by the Data Protection Act 1998 and as such are registered on the <a href="https://ico.org.uk/about-the-ico/what-we-do/register-of-data-controllers/" target="_blank" shape="rect">National Register of Data Controllers</a> under registration number ZA147598.</p>

    <h4>3.	Access to Our Site</h4>
    <p>3.1	Access to Our Site is free of charge.  No part of Our Site requires payment of any kind in order to access or use it.</p>
    <p>3.2	It is your responsibility to make any and all arrangements necessary in order to access Our Site.</p>
    <p>3.3	Access to Our Site is provided "as is" and on an "as available" basis.  We may alter, suspend or discontinue Our Site (or any part of it) at any time and without notice.  We will not be liable to you in any way if Our Site (or any part of it) is unavailable at any time and for any period.</p>

    <h4>4.	Intellectual Property Rights</h4>
    <p>4.1	All Content included on Our Site and the copyright and other intellectual property rights subsisting in that Content, unless specifically labelled otherwise, belongs to or has been licensed by Us.  All Content is protected by applicable United Kingdom and international intellectual property laws and treaties.  All rights are reserved.</p>
    <p>4.2	Subject to sub-Clauses 4.3 and 4.6 you may not reproduce, copy, distribute, sell, rent, sub-licence, store, or in any other manner re-use Content from Our Site unless given express written permission to do so by Us.</p>
    <p></p>
    4.3	You may:<br />
    4.3.1	Access, view and use Our Site in a web browser (including any web browsing capability built into other types of software or app);<br />
    4.3.2	Download Our Site (or any part of it) for caching;<br />
    4.3.3	Print pages from Our Site;<br />
    4.3.4	Download extracts from pages on Our Site; and<br />
    4.3.5	Save pages from Our Site for later and/or offline viewing.<br />
    <p></p>
    4.4	Our status as the owner and author of the Content on Our Site (or that of identified licensors, as appropriate) must always be acknowledged.
    <p></p>
    <p>4.5	You may not use any Content saved or downloaded from Our Site for commercial purposes without first obtaining a licence from Us (or our licensors, as appropriate) to do so. </p>
    <p>4.6	Nothing in these Terms and Conditions limits or excludes the provisions of Chapter III of the Copyrights, Designs and Patents Act 1988 'Acts Permitted in Relation to Copyright Works', covering in particular the making of temporary copies; the making of personal copies for private use; research and private study; the making of copies for text and data analysis for non-commercial research; criticism, review, quotation and news reporting; caricature, parody or pastiche; and the incidental inclusion of copyright material.</p>

    <h4>5.	Links to Our Site</h4>
    5.1	You may link to Our Site provided that:<br />
    5.1.1	You do so in a fair and legal manner;<br />
    5.1.2	You do not do so in a manner that suggests any form of association, endorsement or approval on Our part where none exists;<br />
    5.1.3	You do not use any logos or trade marks displayed on Our Site without Our express written permission; and<br />
    5.1.4	You do not do so in a way that is calculated to damage Our reputation or to take unfair advantage of it.<br />
    <p></p>
    5.2	You may not link to any page other than the homepage of Our Site, myartbrief.com.  Deep-linking to other pages requires Our express written permission.
    <p></p>
    5.3	Framing or embedding of Our Site on other websites is not permitted without Our express written permission.  Please contact Us at <a href="mailto:info@myartbrief.com" class="" shape="rect">info@myartbrief.com</a> for further information.
    <p></p>
    5.4	You may not link to Our Site from any other site the main content of which contains material that:<br />
    5.4.1	Is sexually explicit;<br />
    5.4.2	Is obscene, deliberately offensive, hateful or otherwise inflammatory;<br />
    5.4.3	Promotes violence;<br />
    5.4.4	Promotes or assists in any form of unlawful activity;<br />
    5.4.5	Discriminates against, or is in any way defamatory of, any person, group or class of persons, race, sex, religion, nationality, disability, sexual orientation, or age;<br />
    5.4.6	Is designed or is otherwise likely to threaten, harass, annoy, alarm, inconvenience, upset, or embarrass another person;<br />
    5.4.7	Is calculated or is otherwise likely to deceive another person;<br />
    5.4.8	Is designed or is otherwise likely to infringe (or to threaten to infringe) another person's privacy;<br />
    5.4.9	Misleadingly impersonates any person or otherwise misrepresents the identity or affiliation of a particular person in a way that is calculated to deceive (obvious parodies are not included in this definition provided that they do not fall within any of the other provisions of this sub-Clause 5.4);<br />
    5.4.10	Implies any form of affiliation with Us where none exists;<br />
    5.4.11	Infringes, or assists in the infringement of, the intellectual property rights (including, but not limited to, copyright, trade marks and database rights) of any other party; or<br />
    5.4.12	Is made in breach of any legal duty owed to a third party including, but not limited to, contractual duties and duties of confidence.<br />
    <p></p>
    5.5	The content restrictions in sub-Clause 5.4 do not apply to content submitted to sites by other users provided that the primary purpose of the site accords with the provisions of sub-Clause 5.4.  You are not, for example, prohibited from posting links on general-purpose social networking sites merely because another user may post such content.  You are, however, prohibited from posting links on websites which focus on or encourage the submission of such content from users.


    <h4>6.	Links to Other Sites</h4>
    Links to other sites may be included on Our Site.  Unless expressly stated, these sites are not under Our control.  We neither assume nor accept responsibility or liability for the content of third party sites.  The inclusion of a link to another site on Our Site is for information only and does not imply any endorsement of the sites themselves or of those in control of them.

    <h4>7.	Disclaimers</h4>
    7.1	The Content on Our Site does not constitute advice on which you should rely.  It is provided for general information purposes only.  Professional or specialist advice should always be sought before taking any action relating to services if you are unsure of the implications.
    <p></p>
    7.2	We make no representation, warranty, or guarantee that Our Site will meet your requirements, that it will not infringe the rights of third parties, that it will be compatible with all software and hardware, or that it will be secure.
    <p></p>
    7.3	We make reasonable efforts to ensure that the Content on Our Site is complete, accurate, and up-to-date.  We do not, however, make any representations, warranties or guarantees (whether express or implied) that the Content is complete, accurate, or up-to-date.

    <h4>8.	Our Liability</h4>
    8.1	To the fullest extent permissible by law, We accept no liability to any user for any loss or damage, whether foreseeable or otherwise, in contract, tort (including negligence), for breach of statutory duty, or otherwise, arising out of or in connection with the use of (or inability to use) Our Site or the use of or reliance upon any Content included on Our Site.
    <p></p>
    8.2	To the fullest extent permissible by law, We exclude all representations, warranties, and guarantees (whether express or implied) that may apply to Our Site or any Content included on Our Site.
    <p></p>
    8.3	If you are a commercial user, We accept no liability for loss of profits, sales, business or revenue; loss of business opportunity, goodwill or reputation; loss of anticipated savings; business interruption; or for any indirect or consequential loss or damage.
    <p></p>
    8.4	We exercise all reasonable skill and care to ensure that Our Site is free from viruses and other malware.  We accept no liability for any loss or damage resulting from a virus or other malware, a distributed denial of service attack, or other harmful material or event that may adversely affect your hardware, software, data or other material that occurs as a result of your use of Our Site (including the downloading of any Content from it) or any other site referred to on Our Site.
    <p></p>
    8.5	We neither assume nor accept responsibility or liability arising out of any disruption or non-availability of Our Site resulting from external causes including, but not limited to, ISP equipment failure, host equipment failure, communications network failure, natural events, acts of war, or legal restrictions and censorship.
    <p></p>
    8.6	Nothing in these Terms and Conditions excludes or restricts Our liability for fraud or fraudulent misrepresentation, for death or personal injury resulting from negligence, or for any other forms of liability which cannot be excluded or restricted by law.  For full details of consumers' legal rights, including those relating to digital content, please contact your local Citizens' Advice Bureau or Trading Standards Office.

    <h4>9.	Viruses, Malware and Security</h4>
    9.1	We exercise all reasonable skill and care to ensure that Our Site is secure and free from viruses and other malware.
    <p></p>
    9.2	You are responsible for protecting your hardware, software, data and other material from viruses, malware, and other internet security risks.
    <p></p>
    9.3	You must not deliberately introduce viruses or other malware, or any other material which is malicious or technologically harmful either to or via Our Site.
    <p></p>
    9.4	You must not attempt to gain unauthorised access to any part of Our Site, the server on which Our Site is stored, or any other server, computer, or database connected to Our Site.
    <p></p>
    9.5	You must not attack Our Site by means of a denial of service attack, a distributed denial of service attack, or by any other means.
    <p></p>
    9.6	By breaching the provisions of sub-Clauses 9.3 to 9.5 you may be committing a criminal offence under the Computer Misuse Act 1990.  Any and all such breaches will be reported to the relevant law enforcement authorities and We will cooperate fully with those authorities by disclosing your identity to them.  Your right to use Our Site will cease immediately in the event of such a breach.

    <h4>10.	Acceptable Usage Policy</h4>
    10.1	You may only use Our Site in a manner that is lawful.  Specifically:<br />
    10.1.1	You must ensure that you comply fully with any and all local, national or international laws and/or regulations;<br />
    10.1.2	You must not use Our Site in any way, or for any purpose, that is unlawful or fraudulent;<br />
    10.1.3	You must not use Our Site to knowingly send, upload, or in any other way transmit data that contains any form of virus or other malware, or any other code designed to adversely affect computer hardware, software, or data of any kind; and<br />
    10.1.4	You must not use Our Site in any way, or for any purpose, that is intended to harm any person or persons in any way.<br />
    <p></p>
    10.2	We reserve the right to suspend or terminate your access to Our Site if you materially breach the provisions of this Clause 10 or any of the other provisions of these Terms and Conditions.  Specifically, We may take one or more of the following actions:<br />
    10.2.1	Suspend, whether temporarily or permanently, your right to access Our Site;<br />
    10.2.2	Issue you with a written warning;<br />
    10.2.3	Take legal proceedings against you for reimbursement of any and all relevant costs on an indemnity basis resulting from your breach;<br />
    10.2.4	Take further legal action against you as appropriate;<br />
    10.2.5	Disclose such information to law enforcement authorities as required or as We deem reasonably necessary; and/or<br />
    10.2.6	Any other actions which We deem reasonably appropriate (and lawful).<br />
    <p></p>
    10.3	We hereby exclude any and all liability arising out of any actions (including, but not limited to those set out above) that We may take in response to breaches of these Terms and Conditions.

    <h4>11.	Privacy and Cookies</h4>
    Use of Our Site is also governed by Our Cookie and Privacy Policies, available <a href="/privacy" shape="rect">here</a>.  These policies are incorporated into these Terms and Conditions by this reference.

    <h4>12.	Changes to these Terms and Conditions</h4>
    12.1	We may alter these Terms and Conditions at any time.  If We do so, details of the changes will be highlighted at the top of this page.  Any such changes will become binding on you upon your first use of Our Site after the changes have been implemented.  You are therefore advised to check this page from time to time.
    <p></p>
    12.2	In the event of any conflict between the current version of these Terms and Conditions and any previous version(s), the provisions current and in effect shall prevail unless it is expressly stated otherwise.

    <h4>13.	Contacting Us</h4>
    To contact Us, please email Us at <a href="mailto:info@myartbrief.com" class="" shape="rect">info@myartbrief.com</a>.

    <h4>14.	Communications from Us</h4>
    14.1	If We have your contact details, We may from time to time send you important notices by email.  Such notices may relate to matters including, but not limited to, service changes and changes to these Terms and Conditions.
    <p></p>
    14.2	Any and all marketing emails sent by Us include an unsubscribe link.  If you opt out of receiving emails from Us at any time, it may take up to 1 business days for your new preferences to take effect.
    <p></p>
    14.3	For questions or complaints about communications from Us (including, but not limited to marketing emails), please contact Us at <a href="mailto:info@myartbrief.com" class="" shape="rect">info@myartbrief.com</a>.

    <h4>15.	Data Protection</h4>
    15.1	Any and all personal information that We may collect will be collected, used and held in accordance with the provisions of the Data Protection Act 1998 and your rights and Our obligations under that Act.
    <p></p>
    15.2	We may use your personal information to:<br />
    15.2.1	Reply to any communications you send to Us;<br />
    15.2.2	Send you important notices, as detailed in Clause 14;<br />
    15.2.3	Provide delivery and/or contact details to other users on the site when using our services.<br />
    <p></p>
    15.3	We will not pass on your personal information to any third parties.

    <h4>16.	Law and Jurisdiction</h4>
    16.1	These Terms and Conditions, and the relationship between you and Us (whether contractual or otherwise) shall be governed by, and construed in accordance with, English law.
    <p></p>
    16.2	If you are a consumer, any disputes concerning these Terms and Conditions, the relationship between you and Us, or any matters arising therefrom or associated therewith (whether contractual or otherwise) shall be subject to the jurisdiction of the courts of England, Wales, Scotland, or Northern Ireland, as determined by your residency.
    <p></p>
    16.3	If you are a business, any disputes concerning these Terms and Conditions, the relationship between you and Us, or any matters arising therefrom or associated therewith (whether contractual or otherwise) shall be subject to the exclusive jurisdiction of the courts of England and Wales.
</div>
            </div>
        </div>
    </div>

    <div id="footer">
    <div class="footer-default">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 md-margin-bottom-40">
                        <div class="headline"><h2>About our Service</h2></div>
                        <p class="margin-bottom-25 md-margin-bottom-40">
                            MyArtBrief is the home of UK commission artists who love and thrive on the collaboration process in creating artwork personal to you.  You can also buy art online.
                        </p>
                        <p class="margin-bottom-25 md-margin-bottom-40">
                            It is the only service that allows you to find artists and facilitate art commissions entirely online so if you are looking to commission a painting, commission art or commission an artist, you came to the right place!
                        </p>
                        <p class="margin-bottom-25 md-margin-bottom-40">
                            View our <a href="/#how-it-works" shape="rect">How It Works</a> section which has a step by step video guide to our art commissions process.  If you have any questions, try our <a href="/faq" shape="rect">FAQ</a> page.  If you still have a query you can contact us via <a href="mailto:info@myartbrief.com" class="" shape="rect">email</a> and we'll get back to you as soon as we can.
                        </p>

                        <!--  <div class="headline"><h2>Newsletter</h2></div>
                        <p>Stay up to date with the latest news!</p>
                        <a th:href="@{/subscribe}" class="btn-u" style="color: #fff">
                            Click Here To Register For Newsletter
                        </a>-->
                    </div>

                    <div class="col-md-4 md-margin-bottom-40">
                        <div class="posts">
                            <div class="headline"><a href="#" shape="rect"><h2>Latest News</h2></a></div>

                            <dl class="dl-horizontal">
                                <dt>
                                    <img src="/img/main/common/milestone3_155.jpg" alt="New Milestone" />
                                    
                                    
                                </dt>
                                <dd>
                                    <strong>New Milestone</strong>
                                    (<span>29 August 2024</span>)
                                    <br />
                                    <span>MyArtBrief has facilitated the completion of 940 Briefs with a total value in excess of £336110.00 !</span>
                                </dd>
                            </dl>

                            <dl class="dl-horizontal">
                                <dt>
                                    <img src="/img/main/common/milestone3_155.jpg" alt="New Milestone" />
                                    
                                    
                                </dt>
                                <dd>
                                    <strong>New Milestone</strong>
                                    (<span>24 June 2024</span>)
                                    <br />
                                    <span>MyArtBrief has facilitated the creation of 3450 Quotes since the launch date !</span>
                                </dd>
                            </dl>

                            <dl class="dl-horizontal">
                                <dt>
                                    <img src="/img/main/common/milestone3_155.jpg" alt="New Milestone" />
                                    
                                    
                                </dt>
                                <dd>
                                    <strong>New Milestone</strong>
                                    (<span>14 June 2024</span>)
                                    <br />
                                    <span>MyArtBrief now has over 4750 registered Users !</span>
                                </dd>
                            </dl>

                            <dl class="dl-horizontal">
                                <dt>
                                    <img src="/img/main/common/milestone3_155.jpg" alt="New Milestone" />
                                    
                                    
                                </dt>
                                <dd>
                                    <strong>New Milestone</strong>
                                    (<span>4 March 2024</span>)
                                    <br />
                                    <span>MyArtBrief has facilitated the creation of 3400 Quotes since the launch date !</span>
                                </dd>
                            </dl>
                            <!-- <a th:href="@{'/news'}">All Historical News</a> -->

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="headline"><h2>About Us</h2></div>
                        <address>
                            MyArtBrief Ltd <br />
                            Oakmere <br />
                            Belmont Business Park<br />
                            Durham <br />
                            DH1 1TW<br />
                            Email: <a href="mailto:info@myartbrief.com" class="" shape="rect">info@myartbrief.com</a>
                        </address>
                        
                        <p>
                            Registered in England &amp; Wales
                            <br />
                            Company Registration Number: 09677060
                            <br />
                            Data Protection Number: ZA147598
                        </p>

                        <div class="headline"><h2>Stay Connected</h2></div>
                        <ul class="social-icons">
                            <!-- <li><a href="#" data-original-title="Feed" class="social_rss"></a></li> -->
                            <li>
                                <a href="https://twitter.com/myartbrief" target="myartbrief_twitter" data-original-title="Twitter" class="social_twitter" shape="rect">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/myartbrief" target="myartbrief_facebook" data-original-title="Facebook" class="social_facebook" shape="rect">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/originaluniqueart" target="myartbrief_instagram" data-original-title="Instagram" class="social_instagram" shape="rect">
                                </a>
                            </li>
                            <li>
                                <a href="https://uk.pinterest.com/myartbrief" target="myartbrief_pintrest" data-original-title="Pinterest" class="social_pintrest" shape="rect">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCzu6FtfvH7yRXUhETiJz3GA" target="myartbrief_youtube" data-original-title="YouTube" class="social_youtube" shape="rect">
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/101299079878490727118/about" target="myartbrief_google" data-original-title="Goole Plus" class="social_googleplus" shape="rect">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/myartbrief" target="myartbrief_linkedin" data-original-title="Linkedin" class="social_linkedin" shape="rect">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <p>
                            2022 &copy; MyArtBrief. ALL Rights Reserved.
                            <br />
                            <a href="/privacy" style="margin-left: 0" shape="rect">Privacy Policy</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="/terms" shape="rect">Terms of Service</a>
                        </p>
                    </div>
                    <div class="col-xs-6">
                        <a href="/" shape="rect">
                            <img class="pull-right" id="logo-footer" src="/img/logo-new.png" alt="MyArtBrief Logo" width="220" height="55" />
                        </a>
                    </div>
                </div>
                <div class="hidden">
                    <span>a 0</span>
                    <span>na 50</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="/plugins/jquery/jquery.min.js" xml:space="preserve"></script>
<script type="text/javascript" src="/plugins/jquery/jquery-migrate.min.js" xml:space="preserve"></script>
<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js" xml:space="preserve"></script>
<script type="text/javascript" src="/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js" xml:space="preserve"></script>
<script type="text/javascript" src="/plugins/bootbox/bootbox.min.js" xml:space="preserve"></script>
<script type="text/javascript" src="/plugins/bootstrap-notify/bootstrap-notify.min.js" xml:space="preserve"></script>
<script type="text/javascript" src="/plugins/fancybox/source/jquery.fancybox.pack.js" xml:space="preserve"></script>
<script type="text/javascript" src="/plugins/owl-carousel2/owl.carousel.min.js" xml:space="preserve"></script>
<script type="text/javascript" src="/plugins/back-to-top.js" xml:space="preserve"></script>
<script type="text/javascript" src="/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js" xml:space="preserve"></script>
<script type="text/javascript" src="/plugins/bootstrap-toggle/bootstrap-toggle.min.js" xml:space="preserve"></script>
<script type="text/javascript" src="/plugins/star-rating/star-rating.min.js" xml:space="preserve"></script>
<script type="text/javascript" src="/js/moment.min.js" xml:space="preserve"></script>
<script type="text/javascript" src="/js/loadingoverlay.min.js" xml:space="preserve"></script>
<script type="text/javascript" src="/js/jquery.printElement.js" xml:space="preserve"></script>
<script type="text/javascript" src="/js/printThis.js" xml:space="preserve"></script>
<script type="text/javascript" src="/js/app.js" xml:space="preserve"></script>
<script xml:space="preserve">
    window.FileAPI = {
        debug: false, // debug mode
        staticPath: '/plugins/fileapi/FileAPI/' // path to *.swf
    };
</script>
<script src="/plugins/fileapi/FileAPI/FileAPI.min.js" xml:space="preserve"></script>
<script src="/plugins/fileapi/FileAPI/FileAPI.exif.js" xml:space="preserve"></script>
<script src="/plugins/fileapi/jquery.fileapi.min.js" xml:space="preserve"></script>
<script src="/plugins/fileapi/jcrop/jquery.Jcrop.min.js" xml:space="preserve"></script>

<script type="text/javascript" src="/js/custom.js?version=live-15" xml:space="preserve"></script>
<!--@thymesVar id="userMessage" type="com.mab.dto.Message"-->

<script xml:space="preserve">
    var token = '7c4c9837-1324-4234-a095-a334d0d7bd8f';
    var header = 'X-CSRF-TOKEN';
    $(document).ajaxSend(function(e,xhr) {
        xhr.setRequestHeader(header, token);
    });
</script>

<script xml:space="preserve">
    <!--CUSTOM JAVASCRIPT GOES HERE-->
</script>
<!--[if lt IE 9]>
<script th:src="@{/plugins/respond.js}" src="../../static/plugins/respond.js"></script>
<script th:src="@{/plugins/html5shiv.js}" src="../../static/plugins/html5shiv.js"></script>
<script th:src="@{/plugins/placeholder-IE-fixes.js}" src="../../static/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>
</html>